.container {
    height: 90%;
    width: 90%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.containerFlag {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bitmoji1 {
    height: 230px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    animation: pulse 1.2s;
}
@keyframes pulse {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.bitmoji2 {
    height: 230px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.flagImg1 {
    height: 350px;
    width: 480px;
    box-shadow: 0.2px 0.2px 0.2px 0.6px rgba(0, 0, 0, 0.3); 
    transition: all 0.7s ease-in-out;
    opacity: 1;
    animation: pulse 1.2s;
}
.flagImg2 {
    height: 350px;
    width: 480px;
    box-shadow: 0.2px 0.2px 0.2px 0.6px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
.containerInfo {
    color: black;
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parchment {
    position: absolute;
    height: 100%;
    width: 100%;
}
.parchmentInfo {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* INFO */
.name {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 18%;
    font-family:cursive;
}
/* ACTIVITIES */
.containerActivities {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.containerActivities h3 {
    text-transform: uppercase;
}
.containerActivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 10px;
}