.container {
    height: 45%;
    width: 60%;
    bottom: 0;
    left: 9.5%;
    position: absolute;
}
.pages {
    right: 1%;
}
.btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px black;
    cursor: pointer;
}
.btn:disabled {
    background-color: gray;
    color: white;
}